@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.fundo {
    background-color: #EC9B02;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
}

.centro {
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.443);
}

/* header*/ 
header {
    font-family: "open sans";
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 1000;
    margin-left: 20px;
    margin-right: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

header span {
    height: 50px;
    width: 300px;
}

.creditos {
    padding: 5px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-self: start;
    flex-direction: column;
}

.nome {
    padding: 0px 10px;
    font-family: "Open sans";
    font-weight: 600;
    
}
.creditos a {
    text-decoration: none;
    color: #000000;
}

.autor  {
    display: flex;
    justify-content: end;
    padding-right: 11px;
}


header .links {
    display: flex;
    align-self: center;
}

.links a {
    font-size: 18px;
    font-family: "open sans";
    font-weight: 300;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.links a:hover {
    color: #F2CB07;
}

/*Banner*/ 

.banner {
    height: 600px;
    width: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;

}

.banner h2 {
    font-size: 50px;
    height: 150px;
    width: 400px;
    padding: 50px;
}

.banner .perfil {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 550px;
}

.banner h3 {
    justify-content: end;
    padding:0px;
    margin: 10px;
    width: 390px;
    align-self: end;
}

.citacao {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.banner .citacao aside {
    align-self: end;
    justify-content: start;
}


.perfil {
    height: px;
}

/* sessões*/ 

.separador {
    margin: 0px 50px;
}
.sessao {
    font-family: "open sans";
    font-weight: 300;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 50px;
    color: #000000;
    height: 50px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-right: 20px;
}

.textos {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.objeto {
    padding: 50px 30px;
}

.objeto a {
    margin-top: 5px;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.objeto a:hover {
    color: #F2CB07;
}
 
.objeto a:visited {
    text-decoration: none;
}

.textos div img:hover {
    opacity: 70%;
}

.artigo {
    font-family: "open sans";
    height: 600px;
    width: 1100px;
    text-align: justify;
    margin-top: 100px;
    margin-left: 200px;
    border-radius: 10px;
    padding: 10px;
}

.corpo {
    height: 500px;
    font-size: 18px;
    color:#000000;
    padding-top: 0px;
    padding-left: 50px;
    padding-bottom: 0px;
    text-indent: 30px;
}

.titulo {
    height: 100px;
    width:200px;
    margin-bottom: 10px;
    padding-left: 50px;
}

.artigo {
    display: flex;
}

.imagem {
    height: 400px;
}

.conjunto {
    flex-direction: column;
}

/*Footer ---------------------------------------------------------------------------------------*/ 

footer {
    background-color: black;
    color: white;
    height: 200px;
    text-align: center;
}

footer p {
    text-align: center;
    padding-top: 150px;
}

